<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- declare detail properties of diff bot -->

    <xacro:property name="base_length" value="0.25" />
    <xacro:property name="base_width" value="0.18" />
    <xacro:property name="base_height" value="0.062" />
    <xacro:property name="wheel_radius" value="0.037" />
    <xacro:property name="wheel_length" value="0.034" />
    <xacro:property name="wheel_y" value="0.115" />
    <xacro:property name="wheel_caster" value="0.105" />
    <xacro:property name="lidar_pos_x" value="0.048" />
    <xacro:property name="lidar_height" value="0.065" />
    <xacro:property name="imu_x" value="0.0287" />
    <xacro:property name="imu_y" value="0.06" />
    <xacro:property name="imu_z" value="0.086" />


    <!-- declare link of diff bot -->

    <link name="base_footprint" />

    <link name="base_link">
        <visual>
            <geometry>
                <box size="${base_length} ${base_width} ${base_height}" />
            </geometry>
            <origin xyz="0 0 ${base_height / 2.0}" rpy="0 0 0" />
            <material name="blue" />
        </visual>
        <collision>
            <geometry>
                <box size="${base_length} ${base_width} ${base_height}" />
            </geometry>
            <origin xyz="0 0 ${base_height / 2.0}" rpy="0 0 0" />
        </collision>
        <xacro:box_inertia m="5.0" l="${2*base_length}" w="${2*base_width}" h="${2*base_height}"
                           xyz="0 0 ${base_height / 2.0}" rpy="0 0 0" />
    </link>

    <xacro:macro name="wheel_link" params="prefix">
        <link name="${prefix}_wheel_link">
            <visual>
                <geometry>
                    <cylinder radius="${wheel_radius}" length="${wheel_length}" />
                </geometry>
                <origin xyz="0 0 0" rpy="${pi / 2.0} 0 0" />
                <material name="grey" />
            </visual>
            <collision>
                <geometry>
                    <cylinder radius="${wheel_radius}" length="${wheel_length}" />
                </geometry>
                <origin xyz="0 0 0" rpy="${pi / 2.0} 0 0" />
            </collision>
            <xacro:cylinder_inertia m="1.0" r="${2*wheel_radius}" h="${2*wheel_length}" 
                                    xyz="0 0 0" rpy="${pi / 2.0} 0 0" />
        </link>
    </xacro:macro>

    <xacro:wheel_link prefix="right" />
    <xacro:wheel_link prefix="left" />

    <link name="front_caster_wheel_link">
        <visual>
            <geometry>
                <sphere radius="${wheel_radius / 2.0}" />
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <material name="grey" />
        </visual>
        <collision>
            <geometry>
                <sphere radius="${wheel_radius / 2.0}" />
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
        </collision>
        <xacro:sphere_inertia m="0.5" r="${2*wheel_radius / 2.0}"
                              xyz="0 0 0" rpy="0 0 0" />
    </link>

    <link name="behind_caster_wheel_link">
        <visual>
            <geometry>
                <sphere radius="${wheel_radius / 2.0}" />
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <material name="grey" />
        </visual>
        <collision>
            <geometry>
                <sphere radius="${wheel_radius / 2.0}" />
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
        </collision>
        <xacro:sphere_inertia m="0.5" r="${2*wheel_radius / 2.0}"
                              xyz="0 0 0" rpy="0 0 0" />
    </link>

    <link name="third_floor_link">
        <visual>
            <geometry>
                <box size="${base_length/2} ${base_width} ${base_height}" />
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <material name="yellow" />
        </visual>
        <collision>
            <geometry>
                <box size="${base_length/2} ${base_width} ${base_height}" />
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
        </collision>
        <xacro:box_inertia m="5.0" l="${base_length}" w="${2*base_width}" h="${2*base_height}"
                           xyz="0 0 0" rpy="0 0 0" />        
    </link>

    <link name="imu_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <!-- <mesh filename="package://my_robot_description/meshes/imu_link.stl"/>          -->
                <box size="0.0208 0.0158 0.0016"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <!-- <mesh filename="package://my_robot_description/meshes/imu_link.stl"/>          -->
            <box size="0.0208 0.0158 0.0016"/>
            </geometry>         
        </collision>
    </link>
    <!-- declare joint of diff bot -->

    <joint name="base_joint" type="fixed">
        <parent link="base_footprint" />
        <child link="base_link" />
        <origin xyz="0 0 ${2*wheel_radius}" rpy="0 0 0"/>
    </joint>

    <joint name="base_right_wheel_joint" type="continuous">
        <parent link="base_link" />
        <child link="right_wheel_link" />
        <origin xyz="0 ${-wheel_y} ${-wheel_radius}" rpy="0 0 ${pi}" />
        <axis xyz="0 -1 0" />
    </joint>

    <joint name="base_left_wheel_joint" type="continuous">
        <parent link="base_link" />
        <child link="left_wheel_link" />
        <origin xyz="0 ${wheel_y} ${-wheel_radius}" rpy="0 0 0" />
        <axis xyz="0 1 0" />
    </joint>

    <joint name="base_front_caster_wheel_joint" type="fixed">
        <parent link="base_link" />
        <child link="front_caster_wheel_link" />
        <origin xyz="${wheel_caster} 0 ${-3/2*wheel_radius}" rpy="0 0 0" />
    </joint>

    <joint name="base_behind_caster_wheel_joint" type="fixed">
        <parent link="base_link" />
        <child link="behind_caster_wheel_link" />
        <origin xyz="${-wheel_caster} 0 ${-3/2*wheel_radius}" rpy="0 0 0" />
    </joint>

    <joint name="third_floor_joint" type="fixed">
        <parent link="base_link"/>
        <child link="third_floor_link"/>
        <origin xyz="${-base_length/4} 0.0 ${1.5*base_height}" rpy="0.0 0.0 0.0"/>
    </joint>

    <joint name="imu_joint" type="fixed">
        <parent link="base_link"/>
        <child link="imu_link"/>
        <origin xyz="${imu_x - base_length/2} ${-imu_y} ${imu_z}" rpy="0.0 0.0 0.0"/>
    </joint>
</robot>