<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- use real ros2_control -->
    <xacro:unless value="$(arg sim_mode)">
        <ros2_control name="HardwareMotor" type="system">
            <hardware>
                <plugin>diffbot_system/DiffbotInterface</plugin>
                <param name="port">/dev/ttyUSB0</param>          
            </hardware>
            <joint name="base_right_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-1</param>
                    <param name="max">1</param>
                </command_interface>
                <state_interface name="position" />
                <state_interface name="velocity" />                
            </joint>
            <joint name="base_left_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-1</param>
                    <param name="max">1</param>
                </command_interface>
                <state_interface name="position" />
                <state_interface name="velocity" />                
            </joint>        
        </ros2_control>
    </xacro:unless>

    <!-- use simulate ros2 control -->
    <xacro:if value="$(arg sim_mode)">
    <ros2_control name="HardwareMotor" type="system">
            <hardware>
                <plugin>gazebo_ros2_control/GazeboSystem</plugin>
            </hardware>
            <joint name="base_right_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-1</param>
                    <param name="max">1</param>
                </command_interface>
                <state_interface name="position" />
                <state_interface name="velocity" />                
            </joint>
            <joint name="base_left_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-1</param>
                    <param name="max">1</param>
                </command_interface>
                <state_interface name="position" />
                <state_interface name="velocity" />                
            </joint>        
        </ros2_control>
        <gazebo>
            <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
                <parameters>$(find my_robot_controller)/config/control_manager.yaml</parameters>
                <parameters>$(find my_robot_controller)/config/gazebo_ros2_ctl_use_sim.yaml</parameters>
                <update_rate>100</update_rate>
            </plugin>
        </gazebo>
    </xacro:if>

</robot>